---
layout: page
title: "About"
description: "Hey, this is Marmara Esn."
header-img: "img/post-bg-unix-linux.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> English</option>
    <option value="1"> Turkish</option>
</select>

<!-- English Version -->
<div class="zh">
    <blockquote>
        #EsnMarmaraCokGuzel<br>
    </blockquote>

    <p>
    	ESN MARMARA is a team of volunteer students from Marmara University. We are a group of local students gather to help exchange students who come to our university. Our first aim is to provide the best conditions for our exchange students and make them feel like in their home country.

		We organize different types of events. The semester starts Welcome Week’s events which are for meeting new students and orientation of new students each other. The events are the best chances for intercultural exchange and make new friends for local or exchange student. Trips, Parties, Chill Outs and Casual Meetings follow the welcome week’s events.

		Our motto is 'Students helping students' and our slogan is ‘ESN Marmara çok güzel’.

		Every year we welcome more than 300 exchange students and support them to have the best experience in their life. Above all these,  We help to build a strong friendship between exchange students and volunteer students which lasts forever and the students who got exchange experience with ESN MARMARA feel half belong here while they return.
    </p>
</div>

<!-- Turkish Version -->


<div class="en">

    <p>
    		Turkce bilgi eklenecek
    </p>

	<!--
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>Student, major in New Media Art of <a href="https://en.wikipedia.org/wiki/Communication_University_of_China">Communication University of China</a>, which is a interdisciplinary subject of technology and art, and now Senior.</p>

    <p>Programmer, Senior Front-End Engineer of <a href="http://m.wepiao.com/index.html">Wechat Movie</a>, previous worked in <a href="http://alitrip.com" target="_blank">Alibaba Trip</a> as Front-End Engineer Intern for one year, looking for opportunities abroad.</p>

    <p>Designer, offered as UI/UX Designer Intern by Alibaba Group, Microsoft Bing etc. Experienced in Motion Graphic Design, also familer with Layout and Typography.</p>

    <p>Product Design and Product Management is also attractive and comfortable to me.</p>

    <p>
    You can call me English name <b>Hux</b>,<br>
    And my Chinese name is <b>Huang Xuan</b>
    </p>

    <hr>
    Some of my projects is put on my <a href="/portfolio"> Portfolio 👉 </a>
    <br>
    Interested in more details? Checkout my resumes:
    <ul>
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_en_SE.pdf"> 2016_Hux_en_Sr.SE </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_en_PD.pdf"> 2016_Hux_en_PD&UX </a></li>
    </ul>
       -->
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
